<body>
   <style>
     .flex-container {
           display: flex;
           background-color: blue;
           flex-direction: column;
           flex-wrap:wrap;
           align-content: flex-start;
           height: 400px;
           width: 200px;
           
       }

       .item {    
 	        background: white;
           padding: 20px; 
           margin: 3px;
           height: 20px;
           width: 50px;
           flex-grow: 1;
        }
   </style>
   <div class="flex-container" >
      
        <div class="item">Item1</div>
        <div class="item" style="height: 50px">Item2</div>
        <div class="item">Item3</div>
        <div class="item">Item4</div>
        <div class="item" style="height: 30px;flex-grow: 1;">Item5</div>
        <div class="item" >Item6</div>
        <div class="item">Item7</div>
        <div class="item">Item8</div>
        <div class="item">Item9</div>
        <div class="item">Item10</div>
        <div class="item">Item11</div>
        <div class="item">Item12</div>
        <div class="item">Item13</div>
        <div class="item">Item14</div>
            
        <div class="item">Item15</div>
        <div class="item">Item16</div>
        <div class="item">Item17</div>
        <div class="item" style="height: 70px">Item18</div>

   </div>
</body>
