.default {
    background-color: red;
    height: 100px;
}

@media (min-width: 576px) {

}
 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .largeScreen{
        background-color: green;
    }
    .mobileOnly {
        display: none;
    }
}
 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

