.flex-container {
    display: flex;
    background: rgb(189, 189, 189);
}

img {
    width: 350px; /* random width */
}

.item {    
    background-color: black;
    padding: 5px; 
    padding-bottom: 20px;
    margin: 3px;
    /* flex-grow: 1; */
 }


 /* .col_l {
    display: flex;
    flex-direction: column;
    align-items: stretch;
     
 } */

 .row {
     color:white;
    
 }

