p{
    text-indent: 50px;
    
   
}

a#border_right {

    border-right: 1px solid gray; 
    padding-right: 5px;
}

ul#skill {
    margin: auto;
    width: 30%;
    
}

li#nav_bar {
    display: inline;
   
    padding-left: 5px;
    padding-right: 5px;
    border-right: 1px solid black;
}

li#nav_bar:hover {
background-color: red;


}
a:visited{
    color: green;
}
a:active { 
    color: yellow;
}

ul#nav_bar {
    background-color: lightblue;
    color: white;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: left;
}

div.container {
    margin-top: -60px;
}

ul.custom > li:before{
content: "-";
}

ul.custom > li{
    content: "-";
}